<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <span>
        <h3 style="text-align: center;">All Chats!</h3> &nbsp;&ndash;&nbsp; 
            <form method="get" action="/chats/new">
                <button>Add Chat</button>
            </form>
    </span>
    <div class="cards-container">
    <% for(let chat of chats) { %>
        <div class="card">
            <div class="chat">
                <p>From : <%= chat.from %></p>
                <div class="msg">
                    <p><%= chat.message %></p>
                </div>
                <p>Received by <%= chat.to %></p>
                <span class="button-group">
                    <form method="get" action="/chats/<%= chat.id %>/edit" >
                        <button>Edit</button>
                    </form>
                    <form method="post" action="/chats/<%= chat.id %>?_method=DELETE" >
                        <button type="submit">Delete</button>
                    </form>
                </span>
            </div>
            <hr />
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
        </div>
    <% } %>
</div>
</body>
</html>